<div class="container">
    <div class="row" *ngIf="course">
      <div class="col-md-8">
        <img [src]="course.image" width="75%" height="auto">
        <div class="row">
          <div class="col-md-8">
            <b>{{ course.name }}</b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            {{ course.summary }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            Course Price
          </div>
          <div class="col-md-6">
            {{ course.price }}
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          Instructor
        </div>
        <div class="col-md-6">
          {{ course.instructor }}
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        Duration
      </div>
      <div class="col-md-6">
        {{ course.duration }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        Lectures
      </div>
      <div class="col-md-6">
        {{ course.lessons }} Lessonss
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        Enrolled
      </div>
      <div class="col-md-6">
        {{ course.students }} students
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        Languaje
      </div>
      <div class="col-md-6">
        {{ course.language }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        Deadline
      </div>
      <div class="col-md-6">
        {{ course.deadline }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary">Enrroled now <i class="bi bi-arrow-right"></i></button>
      </div>      
    </div>
  </div>
    </div>
  </div>