<div class="container">
    <div class="row">
      <div class="col-md-8">
        <img src="http://examen-nh.jcramireztello.com/media/books/angular10.png" width="75%" height="auto">
        <div class="row">
          <div class="col-md-8">
            <b>Nombre Libro</b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            Descripcion Resumen Libro
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            Course Price
          </div>
          <div class="col-md-6">
            000
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          Instructor
        </div>
        <div class="col-md-6">
          Algun instructro
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        Duration
      </div>
      <div class="col-md-6">
        la duracion
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        Lectures
      </div>
      <div class="col-md-6">
        20 Lessonss
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        Enrolled
      </div>
      <div class="col-md-6">
        202 students
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        Languaje
      </div>
      <div class="col-md-6">
        English
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        Deadline
      </div>
      <div class="col-md-6">
        06 march 2021
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary">Enrroled now <i class="bi bi-arrow-right"></i></button>
      </div>      
    </div>
  </div>
    </div>
  </div>