<div style="background-color: white;">
    <img [src]="course.image"  width="100%" height="auto">
    <a [routerLink]="['/courses', course.id]"> {{ course.name }} </a>

    <div class="row">
        <div class="col-md">
            <i class="bi bi-people-fill"></i> {{ course.students }}
        </div>
        <div class="col-md">
            <i class="bi bi-book"></i> {{ course.duration }}
        </div>
        <div class="col-md">
            <i class="bi bi-book"></i> {{ course.lessons }}
        </div>
    </div>
</div>
