<div class="container p-4">
    <form class="form-signin" >
        <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
        <div class="form-row">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-8">
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" class="form-control" placeholder="username" autofocus formControlName="username">
            </div>
            <div class="form-group col-md-2"></div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-8">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" class="form-control" placeholder="Password" formControlName="password">
            </div>
            <div class="form-group col-md-2"></div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-8">
                <button type="submit" class="btn btn-danger btn-lg btn-block">Login</button>
            </div>
            <div class="form-group col-md-2"></div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-4 text-left">
                <label>
                    <input type="checkbox" value="remember-me"> Save Password
                </label>
            </div>
            <div class="form-group col-md-4 text-right">
                <button type="button" class="btn btn-link">Forget Password?</button>
            </div>
            <div class="form-group col-md-2"></div>
        </div>
    </form>
</div>
